h1{
    color: green;
    background-color: #D3C4E3;
}
h2{
    color: #DBB1BC;
}
h3{
    color: #DBB1BC;
}
button{
    color: rgb(100, 100, 100);
    background-color: #89DAFF;
}
body{
    background-color: #8F95D3;
}